/* Los estilos de tu proyecto */
* {
	box-sizing: border-box;
	color:white;
	font-family: 'Raleway', sans-serif;
}
/* reutilizables */
.rigth{
float: right;
}

.size{
	font-size: 15px;
}

/* section register */
.register{
  background-image:url("../assets/images/taxi.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 700px;
}

div.reg{
	background-color: rgb(247,182,23);
	margin-top:170px; 
	padding: 21px;
	padding-right: 35px;
}
/* speudoclase para las lineas */
span.line::before {
  display: inline-block;
	height: 1px;
	margin-right: 49px;
  content: " ";
  background-color: white;
	width: 110px;
}

span.line::after {
  display: inline-block;
  height: 1px;
	content: " ";
	margin-left: 49px;
  background-color: white;
  width: 110px;
}

img.log-white {
padding-left:14px;
width: 70px;
}

.div-line{
margin: 21px 0;
}

.title-register{
	margin-bottom:-20px;
}
/* section dowload  */
.download{
	background-color: rgb(247,182,23);
	box-sizing:border-box ;
	padding: 28px 160px 28px 0;
}

.download-row{
	border: solid 1px white;
	border-left: none;
	box-sizing: border-box;
	padding:28px 7px 28px 70px;
}

p.size{
	padding-top: 14px;
}
/* section driver */
.driver{
	background-image:url("../assets/images/conduce.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 450px;
}

.driver-text{
	background-color: opacity 0.4 ;
}

/* secction rates */
.rates{
	background-color:rgb(247,182,23);
}

/* footer */
footer{
	background-color: rgb(43,43,43);
}