/* Los estilos de tu proyecto */
* {
	box-sizing: border-box;
	color:white;
	font-family: 'Raleway', sans-serif;
}
/* reutilizables */
.rigth{
float: right;
}

.left {
	float: left;
}

.size{
	font-size: 15px;
}

.center {
	text-align: center;
}

.line-height {
	line-height: 2.5;
}

.margin{
	margin: 0 40px;
}

.pad-bot{
padding-bottom: 21px;
}

.font-weith {
	font-weight:700; 
}

.btn-default{
	font-weight: 900;
}

.btn-default:hover{
	color: white;
	background-color:black;
	font-size:16px; 
}

/* header */
.navbar-default{
	background: white;
	border:none;
}

/* section register */
.register{
  background-image:url("../assets/images/taxi.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 120vh;
}

div.reg{
	background-color: rgb(247,182,23);
	margin-top:25vh; 
	padding: 35px;
	padding-right: 100px;
	letter-spacing: 2px;
}

img.log-white {
padding-left:14px;
width: 70px;
}

.div-line{
margin: 21px 0;
}

.title-register{
	margin-bottom:-20px;
}
/* section dowload  */
.download{
	background-color: rgb(247,182,23);
}

.dow-mobil {
	box-sizing: border-box;
	margin: 14px;
	border: 1px solid white;
	padding: 28px 0;
}


/* section driver */
.driver{
	background-image:url("../assets/images/conduce.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 450px;
}

.driver-text{
	background-color: rgba(0, 0, 0, 0.315);
	padding: 80px 21px 230px 21px;
}

.btn-warning {
 background-color: rgb(247,182,23);
}

/* secction rates */
.rates{
	background-color:rgb(247,182,23);
}

.rates-cont {
	padding: 10vh;
}

.img-map {
height:70vh ;
width: 100%;
border:1px solid white;
padding: 10px;
margin-top: 35px;
}

input.control{
	border-radius: 5px;
	background-color: transparent;
	border:1px solid white;
	width:85%;
	height: 30px;
	margin-left: 14px;
	color: white;
}

::placeholder {
	color: white; 
}

.destin{
	margin-bottom: 25px;
}

.inline{
	display: inline;
}


/* footer */
footer{
	background-color: rgb(43,43,43);
	padding-top: 21px;
}

ul li{
	list-style: none;
}

ul li:hover,i:hover {
	color:rgb(247,182,23);
	cursor: pointer;
	font-size: 16px;
	font-weight:700; 
}

.img-foot {
width: 24vh;
}

@media (min-width: 992px) {
	/* section register */
	div.reg{
		margin-top:28vh; 
		padding: 28px;
		padding-right: 35px;
	}
	/* pseudoclase para las lineas */
	span.line::before {
		display: inline-block;
		height: 1px;
		margin-right: 49px;
		content: " ";
		background-color: white;
		width: 110px;
	}
	
	span.line::after {
		display: inline-block;
		height: 1px;
		content: " ";
		margin-left: 49px;
		background-color: white;
		width: 110px;
	}

	/* seccion download */
	.download {
		padding: 28px 160px 28px 0;
	}

	.download-row{
		border: solid 1px white;
		border-left: none;
		box-sizing: border-box;
	
	}
	.dow-mobil {
		border: none;
	}

/* section driver */
	.driver-text{
	  background-color: rgba(0, 0, 0, 0.315);
		padding: 60px 21px 21px;
	}

	/* sectio rates */
	input.control{
		width:65%;
	}
	
	/* section footer */
	.flex-container {
		height:50vh;
		display: flex;
	}
	
	.flex-end{
		align-self: flex-end;
	}

	.icons-descktop{
		float: left;
	}
}

