.form-loggin{
  width:60%;
  background-color: rgba(212, 211, 211, 0.712);
  padding: 21px;
  margin-left: 18vh;
}
.modal-content {
  background-color: rgba(8, 163, 142, 0.815);
}
/* modal de register */
.modal-reg{
	background-color: rgba(159, 161, 161, 0.911);
	width: 75%;
}

.btn-black {
	background-color: black;
	color: white;
	border: none
}

/* modal de driver */
.btn-black {
	background-color: black;
	color: white;
	border: none
}
.modal-header{
	border:none;
}

.fade{
	background-color: transparent;
}