.form-loggin{
  width:60%;
  background-color: rgba(212, 211, 211, 0.746);
  padding: 21px;
  margin-left: 18vh;
}
.modal-content {
  background-color: rgba(8, 163, 140, 0.87);
}

.red {
	color: rgb(161, 40, 40);
}

.black {
	color:black;
}
/* modal de register */
.modal-reg{
	background-color: rgba(159, 161, 161, 0.911);
	width: 75%;
}

.btn-black {
	background-color: black;
	color: white;
	border: none
}

/* modal de driver */
.btn-black {
	background-color: black;
	color: white;
	border: none
}
.modal-head{
	border:none;
}

.fade{
	background-color: transparent;
}